# Exclude VCS metadata and CI configs
.git
.gitmodules
.github
.gitlab
.gitattributes
.gitignore

# Exclude local virtual envs and caches
.venv
__pycache__
*.pyc

# Exclude things that shouldn’t end up in the image
Dockerfile
binder/
.env
*.ipynb_checkpoints
